body {
  background-color: #fef4e2;
}

header {
  text-align: center;
}

header h1 a {
  text-decoration: none;
}

header h1 a {
  display: inline-block;
  position: relative;

  font-family: Rochester, cursive;
  font-size: calc(0.8rem + 3vw);
  color: #ca9538;
  padding: calc(0.5rem + 1.3vw) 0;
}

header h1 a::after,
header h1 a::before {
  content: "";
  position: absolute;
  width: 5vw;
  height: 2px;
  background-color: currentColor;
  top: 50%;
}

header h1 a::after {
  left: -7vw;
}

header h1 a::before {
  right: -7vw;
}

main {
  display: flex;
  justify-content: center;
}

main article {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  flex-basis: 60%;
}

main article h1 {
  font-family: "Raleway", sans-serif;
  font-size: calc(0.5rem + 3vw);
  margin-top: calc(0.5rem + 1.3vw);
}

main article p {
  font-family: "Raleway", sans-serif;
  font-size: calc(0.5rem + 1.7vw);
}

footer {
  background-color: #a56900;
  margin-top: 4%;
  padding: calc(0.4rem + 1vw);
}

footer h1 {
  font-family: "Quicksand", sans-serif;
  font-size: calc(0.7rem + 1.9vw);
  text-align: center;
  color: #ffffff;
}
