body {
  background-color: #8d7a57;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-color: #f4ecd8
}

header h1 {
  text-align: center;
  padding: calc(0.5rem + 1.3vw) 0;
}

header h1 a {
  font-family: satisfy, sans;
  font-size: calc(1rem + 4vw);
  color: #ca9538;
  text-decoration: none;
}

main {
  background-color: #f4ecd8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main article {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;

  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3%;

  border-bottom: 1px solid gray;
  padding-bottom: 2%;
  cursor: pointer;
}

main article h1 {
  font-family: "Raleway", sans-serif;
  font-size: calc(1rem + 1.5vw);
  margin-top: calc(0.5rem + 1.3vw);
}

main article p {
  font-family: "Raleway", sans-serif;
  font-size: calc(1rem + 0.8vw);
}

main article img {
  flex-basis: 100%;
}

footer {
  background-color: #a56900;
  padding-top: 2%;
  padding: calc(0.4rem + 1vw);
}

footer h1 {
  font-family: "Quicksand", sans-serif;
  font-size: calc(1rem + 1vw);
  text-align: center;
  color: #ffffff;
}
