body {
  background-image: url("../img/palma_de_mallorca-big.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

body main {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

h1 {
  font-family: Satisfy, cursive;
  font-size: 7rem;
  color: white;
  margin-bottom: 3rem;
}

button {
  border: 2px solid white;
  border-radius: 1.2rem;
  padding: 0.5rem 3rem;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

button p {
  font-family: arial;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 1px;
}